<!DOCTYPE html>
<html>

<head>
    <%- include('../../includes/header.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <div class="jumbotron text-center about-us">
        <div class="container">
            <br>
            <h1 id="we-are-family">WE ARE FAMILY!!</h1>
            <div class="about-place">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ea doloremque praesentium iure et vitae
                    ipsam voluptatum, veritatis distinctio provident, ratione repudiandae. Placeat aperiam sint suscipit
                    et deserunt ab consequatur sed pariatur! Molestias officia et, dolore quam explicabo quae sunt
                    mollitia at aliquam, blanditiis suscipit excepturi quas obcaecati! Doloremque labore possimus
                    voluptate eum nemo dignissimos sed minus blanditiis ea iusto, quia quas molestias quam! Numquam
                    velit nobis perferendis labore natus commodi maiores facere harum recusandae autem mollitia quidem
                    id consequatur nihil assumenda vitae, laboriosam illo aliquid, deleniti architecto excepturi rerum?
                    Quia sunt, illum, distinctio illo rem esse facilis, accusamus odit non itaque voluptatem excepturi
                    provident beatae commodi molestias id eius qui animi accusantium expedita vitae sed! Eligendi at
                    magnam voluptas consequuntur, laudantium maxime maiores perferendis soluta odit aliquam obcaecati
                    vitae ipsum? Atque omnis sint sit, ab inventore quibusdam labore, reiciendis numquam error velit
                    odit, fuga quam! Perferendis quod odit itaque tempore provident architecto recusandae tempora,
                    quibusdam commodi eos ducimus laborum laboriosam ipsa nemo maiores hic. In impedit consectetur
                    excepturi ducimus repudiandae nisi, non doloribus quos quis dolor. Excepturi amet necessitatibus
                    culpa repellendus quis distinctio, cumque porro, molestiae quibusdam deserunt optio eaque! Eos
                    numquam ullam quaerat aut odit autem esse reiciendis odio eius, a nam voluptates accusantium
                    consequuntur similique deleniti obcaecati explicabo dignissimos deserunt illum reprehenderit quas
                    error officiis. A cumque facilis similique deserunt libero molestiae quod magnam recusandae possimus
                    labore qui odio itaque vero, minus vitae eveniet, delectus cum? Facilis corporis similique quae
                    ullam. Ut eius aliquid molestias numquam odit a pariatur labore recusandae corporis!</p>
            </div>
        </div>
        <a href="https://www.psychologytoday.com/us/therapists" target="_blank"><button class="btn btn-danger">Get
                Help</button></a>
    </div>
    <%- include('../../includes/end.ejs') %>