<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="jumbotron text-center contacts">
    <div class="container">
      <br>
      <h1 id="contacts">CONTACTS</h1>
      <h5>Will contain phone numbers and email address off all available help for anxiety (State by state)</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum repellendus sequi explicabo atque
        assumenda, quo optio maxime iure. Hic, aliquam enim necessitatibus perferendis voluptatibus sed quia explicabo
        molestiae amet! Dolor esse odio fugiat, a sint labore autem commodi tempora amet. Sit, nesciunt, assumenda
        reprehenderit dolores repellat molestiae, ab incidunt amet cumque ducimus sed. Libero architecto iure aut
        possimus quo quos soluta repudiandae ducimus nulla molestias sapiente culpa sit incidunt quisquam vitae eius
        natus saepe unde ratione officiis omnis odit distinctio, ea eaque? Quibusdam aperiam eos delectus, est ducimus
        cumque rem placeat voluptatibus dolore dolorem inventore asperiores, saepe, cum repudiandae.</p>
    </div>
    <a href="https://www.psychologytoday.com/us/therapists" target="_blank"><button class="btn btn-danger">Get
        Help</button></a>
  </div>
  <%- include('../../includes/end.ejs') %>