<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="mo-top">
    <!-- <h1>DASHBOARD</h1>
    <h3>Some incredible quote here</h3> -->
  </div>
  <div class="jumbotron">
    <div class="container">
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <!-- <h4><b>John Doe</b></h4> -->
          <p>“Don’t let life discourage you; everyone who got where he is had to begin where he was."" <i> —Richard L.
              Evans</i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“You say you’re ‘depressed’ – all I see is resilience. You are allowed to feel messed up and inside out. It
            doesn’t mean you’re defective – it just means you’re human.” <i> —David Mitchell </i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“I’ve certainly had periods when I felt like life was winning and I was losing, so I think everybody can
            relate to that quandary—the temptation to give in, to give up, and then what It takes to keep going.” <i>
              —Malcolm Gets </i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“In the end, just three things matter: How well we have lived. How well we have loved. How well we have
            learned to let go” <i> –Jack Kornfield</i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“At the end of the day, tell yourself gently: ‘I love you, you did the best you could today, and even if
            you didn’t accomplish all you had planned, I love you anyway.” <i> –Anonymous </i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“The moment one gives close attention to anything, even a blade of grass, it becomes a mysterious, awesome,
            indescribably magnificent world in itself.” <i> –Henry Miller</i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“Believe in yourself and all that you are. Know that there is something inside of you that is greater than
            any obstacle..” <i> –Christian D Larson</i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“I tell you the past is a bucket of ashes, so live not in your yesterdays, not just for tomorrow, but in
            the here and now. Keep moving and forget the post mortems; and remember, no one can get the jump on the
            future.” <i> –Carl Sandburg</i>
          </p>
        </div>
      </div>
      <div class="moCard">
        <!-- <img src="/images/startDo.jpg" alt="Dont dream, start doing"> -->
        <div class="moCardTxt">
          <p>“If you can’t fly then run, if you can’t run then walk, if you can’t walk then crawl, but whatever you do
            you have to keep moving forward.” <i> ― Martin Luther King Jr.</i>
          </p>
        </div>
      </div>
      <br>
      <a href="https://www.psychologytoday.com/us/therapists" target="_blank"><button
          class="btn btn-danger get-help">Get Help</button></a>
    </div>
  </div>

  <%- include('../../includes/end.ejs') %>