<!DOCTYPE html>
<html>

<head>
    <%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Sprry! An error occured</h1>
            <h5>We're working on fixing this, sorry for the inconvenience!</h5>
        </div>
    </div>

    <%- include('../includes/end.ejs') %>