.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  margin-top: -16px;
  text-align: center;
}

.menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  opacity: .8;
}

.menu a {
  color: #e6e6e6;
  text-decoration: none;
}

.menu a:hover {
  color: #E49B14;
  opacity: 1;
}

.my-sign {
  color: rgb(185, 185, 185);
  font-weight: lighter;
  font-size: .7rem;
  opacity: .5;
}

.phone-number a {
  color: rgb(185, 185, 185);
  text-decoration: none;
}

.phone-number {
  color: rgb(185, 185, 185);
}

.phone-number a:hover {
  color: #E49B14;
}

.icons {
  margin-top: 25px;
}

.icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}